<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sassy</title>

    <link href="/sassy.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
